@use '../../../../styles/abstract/' as a;

.searchContainer {
  display: flex;
  @include a.centerItem;
  position: relative;
  &__input {
    border-radius: a.rem(50);
    background: var(--headerBgColor2);
    font-weight: a.weight(regular);

    &::placeholder {
      font-weight: 400;
    }
  }

  &__searchIcon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-100%);
  }
}
