@use '../../../styles/abstract/' as a;

.home {
  background: #e8eaf6;
  height: calc(100vh - a.rem(104));
  @include a.centerItem;
  h1 {
    margin-top: 13rem;
    margin-bottom: auto;
    text-transform: uppercase;
    font-size: 2.8rem;
    @include a.centerItem;
    flex-direction: column;
    color: var(--primaryBlack);
  }

  span {
    display: block;
  }

  &__startText {
    font-size: a.rem(16);
    text-transform: lowercase;
    font-weight: 400;
    margin-top: 0.5rem;
    color: #31354f;
  }
}
