@use '../../../styles/abstract/' as a;

.result {
  width: a.rem(500);
  height: 10vh;
  background: #ffffff;
  border-radius: a.$border-radius;
  color: var(--primaryBlack);
  padding: a.$padding-medium;
  @include a.centerItem;
  letter-spacing: 0.05rem;

  &__successContainer {
    width: a.rem(80);
    height: a.rem(80);
    @include a.centerItem;
    margin-bottom: 0;
    // overflow: hidden;
  }

  &__moveText {
    margin-top: 0;
  }

  &__list {
    // display: block;
    margin-bottom: 0.5rem;
  }

  &__text {
    line-height: 1.5;
  }
}

.increaseWidth {
  height: 18vh;
  width: a.rem(450);
  flex-direction: column;
}

.red {
  color: rgb(233, 45, 45);
  letter-spacing: normal;
  // text-transform: capitalize;
}

.green {
  color: green;
}

.errorText {
  height: 45vh;
  flex-direction: column;
}
