@use '../../../styles/abstract/' as a;

.about {
  width: 100%;
  height: 100%;
  @include a.centerItem;

  p {
    width: 60%;
    margin: auto;
    margin-top: 14rem;
    text-align: center;
    color: var(--primaryBlack);
  }
}
